* {
  box-sizing: border-box;
}

html,
body {
  margin: 0px;
  padding: 0px;
  font-family: "Inter", sans-serif;
}

h1 {
  font-weight: bold;
  font-size: 39.06px;
  letter-spacing: -0.05rem;
  margin: 0;
}

h3 {
  font-size: 22.25px;
  font-weight: bold;
  letter-spacing: -0.05rem;
  margin: 0;
}

body {
  font-size: 16px;
  font-weight: 400;
  margin: 0;
}

.extra-title {
  font-size: 16;
  font-weight: 600;
}

.container {
  width: 100%;
  height: 100%;
}

nav {
  width: 100%;
  height: 91px;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  padding: 26px;
  background-color: #21222a;
  color: white;
}

nav > div {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  gap: 7px;
}

nav > div > img {
  width: 40px;
}

nav > h3 {
  color: #61dafb;
}

.main {
  height: 459px;
  position: relative;
  padding: 57px 26px;
  background-color: #282d35;
  color: white;
}

.main > ul {
  max-width: 450px;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  justify-content: center;
  align-items: flex-start;
  gap: 20.36px;
  padding-left: 24px;
  list-style: none;
}

.main > ul > li {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
  gap: 13.39px;
}

.main > ul > li > span {
  display: block;
  width: 9.61px;
  height: 9.61px;
  border-radius: 100%;
  background-color: #61dafb;
}

.main > img {
  height: 263px;
  position: absolute;
  top: 107px;
  right: 0px;
}
